.app{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid red; */

}
.content{
    width: 740px;
    margin:  0 auto;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: row;
    
    /* justify-content: center; */
    grid-gap: 5px;
    /* height: 226px; */
}

@media(max-width: 768px){
    .content{
        height: 680px;
        display: inline-flex;
        max-width: 350px;
        flex-direction: column-reverse;
        position: relative;
    }
    .app{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}